import java.time.*
Date now = new Date()

process.cache = "lenient"

params {
    day = now.format("yyyMMdd")
    timestamp = now.format("yyyyMMdd-HH-mm-ss")
    output = null
    debug = null
    help = null
}

manifest {
    homePage = "http://www.andersenlab.org"
    description = "Wormbase genome management script"
    mainScript = "main.nf"
    nextflowVersion = '>=23.0'
    version = "3.0.0"
}

process {
    container = "andersenlab/genomes:latest"
    //container = 'andersenlab/genomes-061924.sif'
}

profiles {
    standard {includeConfig 'conf/rockfish.config'}
    rockfish {includeConfig 'conf/rockfish.config'}
    quest { includeConfig 'conf/quest.config' }
    //local { includeConfig 'conf/local.config' }
}

report {
    enabled = true
    file = "pipeline-info/${params.timestamp}_report.html"
}
