
manifest {
    homePage = "http://www.andersenlab.org"
    description = "Wormbase genome management script"
    mainScript = "main.nf"
    nextflowVersion = '>=19.09.0-edge'
    version = "2.0.0"
}

process {
    label = 'sm'
    container = "andersenlab/genomes"
}

profiles {
    local { includeConfig 'conf/local.config' }
    quest { includeConfig 'conf/quest.config' }
    standard {includeConfig 'conf/quest.config'}
}