/*
    Quest Configuration
*/

params {
    output = "/projects/b1059/data/"
}

process {

    container = "andersenlab/genomes:latest"

    withLabel: xs {
        cpus = 1
        memory = 1.GB
    }

    withLabel: sm {
        cpus = 1
        memory = 4.GB
    }

    withLabel: md {
        cpus = 2
        memory = 8.GB
    }

    withLabel: lg {
        cpus = 4
        memory = 20.GB
    }

    withLabel: xl {
        cpus = 12
        memory = 30.GB
    }

}

executor {
    queueSize=500
}

singularity {
    enabled = true
    autoMounts = true
    cacheDir = "/projects/b1042/AndersenLab/singularity"
}

